services:
  mongo:
    image: mongo:8.2
    container_name: olsc_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword123
      MONGO_INITDB_DATABASE: olsc_db
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - mongo_data:/data/db

  app:
    build: .
    container_name: olsc_app
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=production
      - BASE_URL=http://localhost:5000
      - UPLOAD_DIR=uploads
      - MONGO_URI=${MONGO_URI}
      - BLOG_WRITE_KEY=${BLOG_WRITE_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN}
    volumes:
      - ./uploads:/app/uploads
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: always

volumes:
  mongo_data:
